CONFIG_MALI_MIDGARD=y
# CONFIG_MALI_BIFROST is not set
# CONFIG_MALI_BIFROST_DEVFREQ is not set
# CONFIG_MALI_PLATFORM_NAME is not set
# CONFIG_MALI_BIFROST_EXPERT is not set
# CONFIG_MALI_BIFROST_DEBUG is not set
CONFIG_LEDS_IS31FL32XX=y
CONFIG_LEDS_TRIGGER_TIMER=y
CONFIG_LEDS_TRIGGER_ONESHOT=y
CONFIG_LEDS_TRIGGER_HEARTBEAT=y
CONFIG_LEDS_TRIGGER_CPU=y
CONFIG_LEDS_TRIGGER_GPIO=y
CONFIG_LEDS_TRIGGER_MULTI_CTRL=y
CONFIG_VIDEO_IMX219=y
# CONFIG_SND_SOC_ES8316 is not set
CONFIG_SND_SOC_ES8316_V44=y
CONFIG_USB_SERIAL_CP210X=y
CONFIG_USB_SERIAL_FTDI_SIO=y
CONFIG_USB_SERIAL_PL2303=y
